<div class="panel-heading">
    <h3 class="panel-title">Resultado de busqueda</h3>
</div>

<div class="panel-body">
    <div ng-controller="BuscarSucursalCtrl">
        <div class="row">
            <div class="col-sm-12">
                <div>
                    <form name="ctrl.form" ng-submit="search()" novalidate>
                        <div class="ui-grid-top-panel" style="padding: 5px; margin-bottom: -1px; border: 1px solid #d4d4d4;">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="text" name="filterText" class="form-control" ng-model="filterOptions.filterText" placeholder="Denominacion" autofocus>
                                            <span class="input-group-btn"><button class="btn btn-white" type="submit"><i class="fa-search"></i></button></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6" sg-data-keep="{module: 'ORGANIZACION', permission: 'CREATE'}" style="text-align: right;">
                                    <div class="form-group" style="margin-bottom: 0px;">
                                        <button type="button" ng-click="nuevo()" class="btn btn-primary" style="margin-bottom: 0px;">Nuevo</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div ui-grid="gridOptions" external-scopes="gridActions" ui-grid-selection class="grid"></div>
                </div>
            </div>
        </div>
    </div>
</div>
