<div class="panel-heading">
    <h3 class="panel-title">Resultado de busqueda</h3>
</div>

<div class="panel-body">
    <div ng-controller="BuscarSucursalCtrl">
        <div class="row">
            <div class="col-sm-12">
                <div>
                    <form name="ctrl.form" ng-submit="search()" novalidate>
                        <div class="ui-grid-top-panel" style="padding: 5px; margin-bottom: -1px; border: 1px solid #d4d4d4;">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="text" name="filterText" class="form-control no-right-border" ng-model="filterOptions.filterText" placeholder="Denominacion" autofocus>
                                            <span class="input-group-btn"><button class="btn btn-white" type="submit">submit</button></span>
                                        </div>
                                    </div>
                                </div>



                                <div class="col-sm-6" sg-data-keep="{module: 'ORGANIZACION', permission: 'CREATE'}" style="text-align: right;">
                                    <div class="form-group" style="margin-bottom: 0px;">
                                        <button type="button" ng-click="nuevo()" class="btn btn-primary" style="margin-bottom: 0px;">Nuevo</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div ui-grid="gridOptions" external-scopes="gridActions" ui-grid-selection class="grid"></div>
                </div>
            </div>
        </div>
    </div>
</div>







<div class="row ng-scope">
<div class="col-sm-12">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Input groups with addons</h3>
            <div class="panel-options">
                <a href="" data-toggle="panel">
                    <span class="collapse-icon">–</span>
                    <span class="expand-icon">+</span>
                </a>
                <a href="" data-toggle="remove">
                    ×
                </a>
            </div>
        </div>
        <div class="panel-body">

            <form role="form" class="form-horizontal ng-pristine ng-valid">

                <div class="form-group">
                    <label class="col-sm-2 control-label">Addon on the left</label>

                    <div class="col-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon">@</span>
                            <input type="text" class="form-control" placeholder="Username">
                        </div>
                    </div>
                </div>

                <div class="form-group-separator"></div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Addon on the right</label>

                    <div class="col-sm-10">
                        <div class="input-group">
                            <input type="text" class="form-control">
                            <span class="input-group-addon">.00</span>
                        </div>
                    </div>
                </div>

                <div class="form-group-separator"></div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Both addons</label>

                    <div class="col-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon">$</span>
                            <input type="text" class="form-control">
                            <span class="input-group-addon">.00</span>
                        </div>
                    </div>
                </div>

                <div class="form-group-separator"></div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Addon with icon</label>

                    <div class="col-sm-10">
                        <div class="input-group">
								<span class="input-group-addon">
									<i class="linecons-mail"></i>
								</span>
                            <input type="email" class="form-control" placeholder="Enter your email">
                        </div>
                    </div>
                </div>

                <div class="form-group-separator"></div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Minimal type &amp; sizes</label>

                    <div class="col-sm-10">
                        <div class="input-group input-group-sm input-group-minimal">
								<span class="input-group-addon">
									<i class="linecons-location"></i>
								</span>
                            <input type="email" class="form-control" placeholder="Current city">
                        </div>
                        <br>
                        <div class="input-group input-group-minimal">
                            <input type="email" class="form-control" placeholder="Search for something…">
								<span class="input-group-addon">
									<i class="linecons-search"></i>
								</span>
                        </div>
                        <br>
                        <div class="input-group input-group-lg input-group-minimal">
								<span class="input-group-addon">
									<i class="linecons-pencil"></i>
								</span>
                            <input type="email" class="form-control no-right-border" placeholder="Chat message">
								<span class="input-group-addon">
									<i class="linecons-paper-plane"></i>
								</span>
                        </div>
                    </div>
                </div>

                <div class="form-group-separator"></div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Button assigned</label>

                    <div class="col-sm-10">

                        <div class="input-group">
								<span class="input-group-btn">
									<button class="btn btn-info" type="button">Go!</button>
								</span>

                            <input type="text" class="form-control no-left-border form-focus-info">
                        </div>

                        <br>

                        <div class="input-group">
                            <input type="text" class="form-control no-right-border form-focus-purple">

								<span class="input-group-btn">
									<button class="btn btn-purple" type="button">Submit</button>
								</span>
                        </div>

                        <br>

                        <div class="input-group">
								<span class="input-group-btn">
									<button class="btn btn-warning" type="button">Check validation</button>
								</span>

                            <input type="email" class="form-control no-left-border no-right-border form-focus-warning">

								<span class="input-group-btn">
									<button class="btn btn-warning" type="button">Register Email</button>
								</span>
                        </div>

                    </div>
                </div>

                <div class="form-group-separator"></div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Dropdown addon</label>

                    <div class="col-sm-10">

                        <div class="input-group">
								<span class="input-group-btn" dropdown="">
									<button type="button" class="btn btn-red dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Action <span class="caret"></span>
                                    </button>

									<ul class="dropdown-menu dropdown-red no-spacing">
                                        <li><a href="">Action</a></li>
                                        <li><a href="">Another action</a></li>
                                        <li><a href="">Something else here</a></li>
                                        <li class="divider"></li>
                                        <li><a href="">Separated link</a></li>
                                    </ul>
								</span>

                            <input type="text" class="form-control no-left-border form-focus-red">
                        </div>

                        <br>

                        <div class="input-group">
                            <input type="text" class="form-control no-right-border form-focus-info">

								<span class="input-group-btn" dropdown="">
									<button type="button" class="btn btn-info">Action</button>
									<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa-info"></i>
                                    </button>

									<ul class="dropdown-menu dropdown">
                                        <li><a href="">Action</a></li>
                                        <li><a href="">Another action</a></li>
                                        <li><a href="">Something else here</a></li>
                                        <li class="divider"></li>
                                        <li><a href="">Separated link</a></li>
                                    </ul>
								</span>
                        </div>

                    </div>
                </div>

            </form>

        </div>
    </div>

</div>
</div>

