<div>
<form name="formCrearPersonanatural" ng-submit="crearTransaccion()" novalidate>
    <div class="row">
        <div class="col-sm-6">
            <div class="thumbnail">
                <img data-src="../images/photo.png" alt="...">
                <div class="caption">
                    <p>DNI: 46779354</p>
                    <p>Apellidos: FERIA VILA</p>
                    <p>Nombres: CARLOS, ESTEBAN</p>
                    <p>F.Nacimiento: 12/12/1991</p>
                    <p>Sexo: MASCULINO</p>
                    <p>E.Civil: SOLTERO</p>
                    <p text-align: right;>
                        <a href="#" class="btn btn-default" role="button">Button</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</form>
</div>