<h4><strong>Datos principales</strong> </h4>

<div class="row">
    <div class="col-sm-4">
        <div class="form-group">
            <label>Sucursal</label>
            <h4><span ng-bind="view.agencia.sucursal.denominacion"></span></h4>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label>Agencia</label>
            <h4><span ng-bind="view.agencia.denominacion"></span></h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <div class="form-group" ng-class="{ 'validate-has-error' : form.moneda.$invalid && (form.moneda.$touched || form.$submitted)}">
            <label>Moneda</label>
            <ui-select name="moneda" ng-model="combo.selected.moneda" theme="bootstrap" ui-autofocus required>
                <ui-select-match placeholder="Moneda">{{$select.selected.denominacion}}</ui-select-match>
                <ui-select-choices repeat="item in combo.moneda | filter: $select.search">
                    <div ng-bind-html="item.denominacion | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
            <div ng-messages="form.moneda.$error" ng-if="form.moneda.$touched || form.$submitted">
                <div class="validate-has-error" ng-message="required">Ingrese moneda.</div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group" ng-class="{ 'validate-has-error' : form.denominacion.$invalid && (form.denominacion.$touched || form.$submitted)}">
            <label>Denominacion</label>
            <input type="text" name="denominacion" ng-model="view.agencia.denominacion" ng-minlength="1" ng-maxlength="30" class="form-control" required/>
            <div ng-messages="form.denominacion.$error" ng-if="form.denominacion.$touched || form.$submitted">
                <div class="validate-has-error" ng-message="required">Ingrese denominacion.</div>
                <div class="validate-has-error" ng-message="minlength">Debe tener minimo 1 digitos.</div>
                <div class="validate-has-error" ng-message="maxlength">Debe tener maximo 30 digitos.</div>
            </div>
        </div>
    </div>
</div>

<!--Editar-->
<p ng-if="view.agencia.id">
    <button type="submit" class="btn btn-primary" ladda="control.block" data-style="expand-right">Guardar</button>
    <button type="button" class="btn btn-white" ui-sref="^.resumen">Cancelar</button>
</p>
<!--Crear desde una sucursal-->
<p ng-if="!view.agencia.id && view.sucursal">
    <button type="button" class="btn btn-primary" ng-click="addAgencia()" ladda="control.block" data-style="expand-right">Guardar</button>
    <button type="button" class="btn btn-white" ui-sref="^.^.resumen">Cancelar</button>
</p>
<!--Crear sin sucursal por defecto-->
<p ng-if="!view.agencia.id && !view.sucursal">
    <button type="button" class="btn btn-primary" ng-click="addAgencia()" ladda="control.block" data-style="expand-right">Guardar</button>
    <button type="button" class="btn btn-white" ui-sref="app.organizacion.estructura.buscarAgencia">Cancelar</button>
</p>