<div ng-controller="BuscarAgenciaCtrl">
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <ng-form name="form">
                    <div class="ui-grid-top-panel" style="overflow: inherit; padding: 5px; margin-bottom: -1px; margin-right: -2px; border: 1px solid #d4d4d4;">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group" style="margin-bottom: 0px;">
                                    <input type="text" name="filterText" class="form-control ng-pristine ng-valid ng-touched" ng-model="filterOptions.filterText" ui-keypress="{13:'search($event)'}" placeholder="Denominacion" autofocus>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group" style="margin-bottom: 0px;">
                                    <ui-select name="sucursal" ng-model="combo.selected.sucursal" theme="bootstrap" required>
                                        <ui-select-match placeholder="Sucursal">{{$select.selected.denominacion}}</ui-select-match>
                                        <ui-select-choices repeat="item in combo.sucursal | filter: $select.search">
                                            <div ng-bind-html="item.denominacion | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group" style="margin-bottom: 0px;">
                                    <div class="input-group">
                                        <ui-select name="agencia" ng-model="combo.selected.agencia" theme="bootstrap" required>
                                            <ui-select-match placeholder="Agencia">{{$select.selected.denominacion}}</ui-select-match>
                                            <ui-select-choices repeat="item in combo.agencia | filter: $select.search">
                                                <div ng-bind-html="item.denominacion | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                        <span class="input-group-btn"><button type="button" ui-keypress="{13:'search($event)'}" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2" style="text-align: right;">
                                <div class="form-group" style="margin-bottom: 0px;">
                                    <button type="button" ng-click="nuevo()" class="btn btn-primary">Nuevo</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-form>
                <div ui-grid="gridOptions" external-scopes="gridActions" ui-grid-selection class="grid"></div>
            </div>
        </div>
    </div>
</div>
