<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <div ui-view="viewMenu" class="sidebar-nav">
                <ul class="nav nav-list">
                    <li ng-repeat="menu in menus" ng-class="{ 'nav-header' : menu.header}" ui-sref-active-eq="active">
                        <span ng-if="menu.header" ng-bind="menu.name"></span>
                        <a ui-sref="{{menu.state}}" ng-if="!menu.header" ng-bind="menu.name"></a>
                    </li>
                </ul>
            </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
            <div>
                <div ui-view="viewContent">
                    <span>Loading...</span>
                    <!--/span-->
                </div>
            </div>
        </div>
    </div><!--/row-->

    <hr>

    <footer>
        <p>© Softgreen S.A.C. Company 2014</p>
    </footer>

</div>