<div>
<form name="formCrearPersonanatural" ng-submit="crearTransaccion()" novalidate>
    <tabset>
        <tab heading="Datos personales">
            <form name="form" ng-submit="crearTransaccion()" novalidate>
                <h4><strong>Datos personales</strong> </h4>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group" ng-class="{ 'has-error' : form.pais.$invalid && (form.pais.$touched || form.$submitted)}">
                            <label>Nacionalidad </label>
                            <div class="input-group">
                                <span ng-bind="combo.selected.pais ? combo.selected.pais.alpha3Code : 'NA'" class="input-group-addon"></span>
                                <ui-select name="pais" ng-model="combo.selected.pais" theme="bootstrap" ui-autofocus required>
                                    <ui-select-match placeholder="Seleccione">{{$select.selected.fullName}}</ui-select-match>
                                    <ui-select-choices repeat="item in combo.pais | filter: $select.search">
                                        <div ng-bind-html="item.fullName | highlight: $select.search"></div>
                                        <small ng-bind-html="item.alpha3Code | highlight: $select.search"></small>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div ng-messages="form.pais.$error" ng-if="form.pais.$touched || form.$submitted">
                                <div class="help-block" ng-message="required">Ingrese nacionalidad.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group" ng-class="{ 'has-error' : form.tipoDocumento.$invalid && (form.tipoDocumento.$touched || form.$submitted)}">
                            <label>Tipo documento</label>
                            <ui-select name="tipoDocumento" ng-model="combo.selected.tipoDocumento" theme="bootstrap" required>
                                <ui-select-match placeholder="Seleccione">{{$select.selected.abreviatura}}</ui-select-match>
                                <ui-select-choices repeat="item in combo.tipoDocumento | filter: $select.search">
                                    <div ng-bind-html="item.abreviatura | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                            <div ng-messages="form.tipoDocumento.$error" ng-if="form.tipoDocumento.$touched || form.$submitted">
                                <div class="help-block" ng-message="required">Ingrese documento.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4" ng-class="{ 'has-error' : form.numeroDocumento.$invalid && (form.numeroDocumento.$touched || form.$submitted)}">
                        <div class="form-group">
                            <label>N&uacute;mero documento</label>
                            <div class="input-group">
                                <input type="text" name="numeroDocumento" ng-model="view.personaNatural.numeroDocumento" ui-keypress="{13:'check($event)'}" ng-pattern="/^[0-9]+$/" ng-minlength="combo.selected.tipoDocumento.cantidadCaracteres" ng-maxlength="combo.selected.tipoDocumento.cantidadCaracteres" class="form-control" required/>
                                <span class="input-group-btn"><button type="button" ng-click="check()" tooltip="Check" tooltip-trigger="mouseenter" tooltip-placement="bottom" class="btn btn-default"><span class="glyphicon glyphicon-check"></span></button></span>
                            </div>
                            <div ng-messages="form.numeroDocumento.$error" ng-if="form.numeroDocumento.$touched || form.$submitted">
                                <div class="help-block" ng-message="required">Ingrese numero documento.</div>
                                <div class="help-block" ng-message="minlength">Debe tener <span ng-bind="combo.selected.tipoDocumento.cantidadCaracteres"></span> digitos.</div>
                                <div class="help-block" ng-message="maxlength">Debe tener <span ng-bind="combo.selected.tipoDocumento.cantidadCaracteres"></span> digitos.</div>
                                <div class="help-block" ng-message="pattern">Numero invalido.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group" ng-class="{ 'has-error' : form.apellidoPaterno.$invalid && (form.apellidoPaterno.$touched || form.$submitted)}">
                            <label>Apellido Paterno</label>
                            <input name="apellidoPaterno" type="text" ng-model="view.personaNatural.apellidoPaterno" ng-minlength="1" ng-maxlength="60" class="form-control" capitalize required/>
                            <div ng-messages="form.apellidoPaterno.$error" ng-if="form.apellidoPaterno.$touched || form.$submitted">
                                <div class="help-block" ng-message="required">Ingrese apellido paterno.</div>
                                <div class="help-block" ng-message="minlength">Ingrese apellido paterno.</div>
                                <div class="help-block" ng-message="maxlength">Apellido muy extenso, maximo 60 caracteres.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group" ng-class="{ 'has-error' : form.apellidoMaterno.$invalid && (form.apellidoMaterno.$touched || form.$submitted)}">
                            <label>Apellido Materno</label>
                            <input name="apellidoMaterno" type="text" ng-model="view.personaNatural.apellidoMaterno" ng-minlength="1" ng-maxlength="60" class="form-control" capitalize required/>
                            <div ng-messages="form.apellidoMaterno.$error" ng-if="form.apellidoMaterno.$touched || form.$submitted">
                                <div class="help-block" ng-message="required">Ingrese apellido materno.</div>
                                <div class="help-block" ng-message="minlength">Ingrese apellido materno.</div>
                                <div class="help-block" ng-message="maxlength">Apellido muy extenso, maximo 60 caracteres.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group" ng-class="{ 'has-error' : form.nombres.$invalid && (form.nombres.$touched || form.$submitted)}">
                            <label>Nombres</label>
                            <input name="nombres" type="text" ng-model="view.personaNatural.nombres" ng-minlength="1" ng-maxlength="70" class="form-control" capitalize required  />
                            <div ng-messages="form.nombres.$error" ng-if="form.nombres.$touched || form.$submitted">
                                <div class="help-block" ng-message="required">Ingrese nombres.</div>
                                <div class="help-block" ng-message="minlength">Ingrese nombres.</div>
                                <div class="help-block" ng-message="maxlength">Nombre muy extenso, maximo 70 caracteres.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4" ng-controller="DateController">
                        <div class="form-group" ng-class="{ 'has-error' : form.fechanacimiento.$invalid && (form.fechanacimiento.$touched || form.$submitted)}">
                            <label>Fecha Nacimiento</label>
                            <div class="input-group">
                                <input type="text" name="fechanacimiento" class="form-control" sg-max-date="maxDate" ng-model="view.personaNatural.fechaNacimiento" datepicker-popup="dd/MM/yyyy" is-open="opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="dd/mm/yyyy" required>
                                <span class="input-group-btn"><button class="btn btn-default" type="button" ng-click="open($event)"><span class="glyphicon glyphicon-calendar"></span></button></span>
                            </div>
                            <div ng-messages="form.fechanacimiento.$error" ng-if="form.fechanacimiento.$touched || form.$submitted">
                                <div class="help-block" ng-message="required">Ingrese fecha nacimiento.</div>
                                <div class="help-block" ng-message="sgmaxdate">Fecha no valida.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group" ng-class="{ 'has-error' : form.sexo.$invalid && (form.sexo.$touched || form.$submitted)}">
                            <label>Sexo</label>
                            <ui-select name="sexo" ng-model="combo.selected.sexo" theme="bootstrap" required>
                                <ui-select-match placeholder="Seleccione">{{$select.selected.denominacion}}</ui-select-match>
                                <ui-select-choices repeat="item in combo.sexo | filter: $select.search">
                                    <div ng-bind-html="item.denominacion | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                            <div ng-messages="form.sexo.$error" ng-if="form.sexo.$touched || form.$submitted">
                                <div class="help-block" ng-message="required">Ingrese sexo.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Estado Civil</label>
                            <ui-select ng-model="combo.selected.estadoCivil" theme="bootstrap">
                                <ui-select-match placeholder="Seleccione">{{$select.selected.denominacion}}</ui-select-match>
                                <ui-select-choices repeat="item in combo.estadoCivil | filter: $select.search">
                                    <div ng-bind-html="item.denominacion | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
                <p>
                    <button type="submit" class="btn btn-primary" ladda="control.block" data-style="expand-right">Guardar</button>
                    <button type="button" class="btn btn-default" ng-click="cancelar()">Cancelar</button>
                </p>
            </form>
        </tab>
        <tab>
            <tab-heading>
                <i class="glyphicon glyphicon-bell"></i> Datos adicionales
            </tab-heading>
            <form>
                <h4><strong>Datos adicionales</strong></h4>


                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group" ng-class="{ 'has-error' : form.direccion.$invalid && (form.direccion.$touched || form.$submitted)}">
                            <label>Direcci&oacute;n</label>
                            <input name="direccion" type="text" ng-model="view.personaNatural.direccion" ng-maxlength="70" class="form-control" capitalize />
                            <div ng-messages="form.direccion.$error" ng-if="form.direccion.$touched || form.$submitted">
                                <div class="help-block" ng-message="maxlength">Maximo 70 Caracteres.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group" ng-class="{ 'has-error' : form.referencia.$invalid && (form.referencia.$touched || form.$submitted)}">
                            <label>Referencia</label>
                            <input name="referencia" type="text" ng-model="view.personaNatural.referencia" ng-maxlength="70" class="form-control" capitalize />
                            <div ng-messages="form.referencia.$error" ng-if="form.referencia.$touched || form.$submitted">
                                <div class="help-block" ng-message="maxlength">Maximo 70 Caracteres.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group" ng-class="{ 'has-error' : form.ocupacion.$invalid && (form.ocupacion.$touched || form.$submitted)}">
                            <label>Ocupaci&oacute;n</label>
                            <input name="ocupacion" type="text" ng-model="view.personaNatural.ocupacion" ng-maxlength="70" class="form-control" capitalize />
                            <div ng-messages="form.ocupacion.$error" ng-if="form.ocupacion.$touched || form.$submitted">
                                <div class="help-block" ng-message="maxlength">Maximo 70 Caracteres.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group" ng-class="{ 'has-error' : form.telefono.$invalid && (form.telefono.$touched || form.$submitted)}">
                            <label>Telefono</label>
                            <input name="telefono" type="text" ng-model="view.personaNatural.telefono" ng-maxlength="20" class="form-control" />
                            <div ng-messages="form.telefono.$error" ng-if="form.telefono.$touched || form.$submitted">
                                <div class="help-block" ng-message="maxlength">Maximo 20 Caracteres.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group" ng-class="{ 'has-error' : form.celular.$invalid && (form.celular.$touched || form.$submitted)}">
                            <label>Celular</label>
                            <input name="celular" type="text" ng-model="view.personaNatural.celular" ng-maxlength="20" class="form-control" />
                            <div ng-messages="form.celular.$error" ng-if="form.celular.$touched || form.$submitted">
                                <div class="help-block" ng-message="maxlength">Maximo 20 Caracteres.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group" ng-class="{ 'has-error' : form.email.$invalid && (form.email.$touched || form.$submitted)}">
                            <label>Email</label>
                            <input name="email" type="email" ng-model="view.personaNatural.email" ng-maxlength="70" class="form-control" />
                            <div ng-messages="form.email.$error" ng-if="form.email.$touched || form.$submitted">
                                <div class="help-block" ng-message="email">Email Incorrecto.</div>
                                <div class="help-block" ng-message="maxlength">Maximo 70 Caracteres.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <p>
                    <button type="submit" class="btn btn-primary" ladda="control.inProcess" data-style="expand-right">Guardar</button>
                    <button type="button" class="btn btn-default" ng-click="cancelar()">Cancelar</button>
                </p>
            </form>
        </tab>
    </tabset>
</form>
</div>