<div ng-controller="CrearPersonaNaturalController">
<form name="formCrearPersonanatural" ng-submit="crearTransaccion()" novalidate>
<h4><strong>Datos personales</strong> </h4>
<div class="row">
    <div class="col-sm-4">
        <div class="form-group" ng-class="{ 'has-error' : formCrearPersonanatural.pais.$invalid && (formCrearPersonanatural.pais.$touched || formCrearPersonanatural.$submitted)}">
            <label>Nacionalidad </label>
            <div class="input-group">
                <span ng-bind="view.personaNatural.codigoPais" class="input-group-addon"></span>
                <select focus-on="focusPais" name="pais" ng-options="pais.alpha3Code as pais.fullName for pais in combo.pais" ng-model="view.personaNatural.codigoPais" class="form-control" required autofocus>
                    <option value="">--Seleccione--</option>
                </select>
            </div>
            <div ng-messages="formCrearPersonanatural.pais.$error" ng-if="formCrearPersonanatural.pais.$touched || formCrearPersonanatural.$submitted">
                <div class="help-block" ng-message="required">Ingrese nacionalidad.</div>
            </div>
        </div>
    </div>
    <sg-documento-identidad
            nombre="sgDocumentoIdentidad"
            tipo-persona="natural"
            tipo-documento="view.personaNatural.tipoDocumento"
            numero-documento="view.personaNatural.numeroDocumento"
            requerido="true">
    </sg-documento-identidad>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="form-group" ng-class="{ 'has-error' : formCrearPersonanatural.apellidoPaterno.$invalid && (formCrearPersonanatural.apellidoPaterno.$touched || formCrearPersonanatural.$submitted)}">
            <label>Apellido Paterno</label>
            <input name="apellidoPaterno" type="text" ng-model="view.personaNatural.apellidoPaterno" ng-minlength="1" ng-maxlength="60" class="form-control" placeholder="Apellido Paterno" capitalize required/>
            <div ng-messages="formCrearPersonanatural.apellidoPaterno.$error" ng-if="formCrearPersonanatural.apellidoPaterno.$touched || formCrearPersonanatural.$submitted">
                <div class="help-block" ng-message="required">Ingrese apellido paterno.</div>
                <div class="help-block" ng-message="minlength">Ingrese apellido paterno.</div>
                <div class="help-block" ng-message="maxlength">Apellido muy extenso, maximo 60 caracteres.</div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group" ng-class="{ 'has-error' : formCrearPersonanatural.apellidoMaterno.$invalid && (formCrearPersonanatural.apellidoMaterno.$touched || formCrearPersonanatural.$submitted)}">
            <label>Apellido Materno</label>
            <input name="apellidoMaterno" type="text" ng-model="view.personaNatural.apellidoMaterno" ng-minlength="1" ng-maxlength="60" class="form-control" placeholder="Apellido Materno" capitalize required/>
            <div ng-messages="formCrearPersonanatural.apellidoMaterno.$error" ng-if="formCrearPersonanatural.apellidoMaterno.$touched || formCrearPersonanatural.$submitted">
                <div class="help-block" ng-message="required">Ingrese apellido materno.</div>
                <div class="help-block" ng-message="minlength">Ingrese apellido materno.</div>
                <div class="help-block" ng-message="maxlength">Apellido muy extenso, maximo 60 caracteres.</div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group" ng-class="{ 'has-error' : formCrearPersonanatural.nombres.$invalid && (formCrearPersonanatural.nombres.$touched || formCrearPersonanatural.$submitted)}">
            <label>Nombres</label>
            <input name="nombres" type="text" ng-model="view.personaNatural.nombres" ng-minlength="1" ng-maxlength="70" class="form-control" placeholder="Nombres" capitalize required  />
            <div ng-messages="formCrearPersonanatural.nombres.$error" ng-if="formCrearPersonanatural.nombres.$touched || formCrearPersonanatural.$submitted">
                <div class="help-block" ng-message="required">Ingrese nombres.</div>
                <div class="help-block" ng-message="minlength">Ingrese nombres.</div>
                <div class="help-block" ng-message="maxlength">Nombre muy extenso, maximo 70 caracteres.</div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4" ng-controller="DateController">
        <div class="form-group" ng-class="{ 'has-error' : formCrearPersonanatural.fechanacimiento.$invalid && (formCrearPersonanatural.fechanacimiento.$touched || formCrearPersonanatural.$submitted)}">
            <label>Fecha Nacimiento</label>
            <div class="input-group">
                <input type="text" name="fechanacimiento" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="view.personaNatural.fechaNacimiento" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="dd/mm/yyyy" required>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="open($event)">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </button>
                    </span>
            </div>
            <div ng-messages="formCrearPersonanatural.fechanacimiento.$error" ng-if="formCrearPersonanatural.fechanacimiento.$touched || formCrearPersonanatural.$submitted">
                <div class="help-block" ng-message="required">Ingrese fecha nacimiento.</div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group" ng-class="{ 'has-error' : formCrearPersonanatural.sexo.$invalid && (formCrearPersonanatural.sexo.$touched || formCrearPersonanatural.$submitted)}">
            <label>Sexo</label>
            <select name="sexo" ng-options="sexo for sexo in combo.sexo" ng-model="view.personaNatural.sexo" class="form-control" required>
                <option value="">--Seleccione--</option>
            </select>
            <div ng-messages="formCrearPersonanatural.sexo.$error" ng-if="formCrearPersonanatural.sexo.$touched || formCrearPersonanatural.$submitted">
                <div class="help-block" ng-message="required">Ingrese sexo.</div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label>Estado Civil</label>
            <select name="estadocivil" ng-options="estadocivil as estadocivil for estadocivil in combo.estadoCivil" ng-model="view.personaNatural.estadoCivil" class="form-control">
                <option value="">--Seleccione--</option>
            </select>
        </div>
    </div>
</div>

<h4><strong>Datos adicionales</strong></h4>

<sg-ubigeo ng-model="view.personaNatural.ubigeo"></sg-ubigeo>

<div class="row">
    <div class="col-sm-4">
        <div class="form-group" ng-class="{ 'has-error' : formCrearPersonanatural.direccion.$invalid && (formCrearPersonanatural.direccion.$touched || formCrearPersonanatural.$submitted)}">
            <label>Direcci&oacute;n</label>
            <input name="direccion" type="text" ng-model="view.personaNatural.direccion" ng-maxlength="70" class="form-control" placeholder="Direcci&oacute;n" capitalize />
            <div ng-messages="formCrearPersonanatural.direccion.$error" ng-if="formCrearPersonanatural.direccion.$touched || formCrearPersonanatural.$submitted">
                <div class="help-block" ng-message="maxlength">Maximo 70 Caracteres.</div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group" ng-class="{ 'has-error' : formCrearPersonanatural.referencia.$invalid && (formCrearPersonanatural.referencia.$touched || formCrearPersonanatural.$submitted)}">
            <label>Referencia</label>
            <input name="referencia" type="text" ng-model="view.personaNatural.referencia" ng-maxlength="70" class="form-control" placeholder="Referencia" capitalize />
            <div ng-messages="formCrearPersonanatural.referencia.$error" ng-if="formCrearPersonanatural.referencia.$touched || formCrearPersonanatural.$submitted">
                <div class="help-block" ng-message="maxlength">Maximo 70 Caracteres.</div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group" ng-class="{ 'has-error' : formCrearPersonanatural.ocupacion.$invalid && (formCrearPersonanatural.ocupacion.$touched || formCrearPersonanatural.$submitted)}">
            <label>Ocupaci&oacute;n</label>
            <input name="ocupacion" type="text" ng-model="view.personaNatural.ocupacion" ng-maxlength="70" class="form-control" placeholder="Ocupaci&oacute;n" capitalize />
            <div ng-messages="formCrearPersonanatural.ocupacion.$error" ng-if="formCrearPersonanatural.ocupacion.$touched || formCrearPersonanatural.$submitted">
                <div class="help-block" ng-message="maxlength">Maximo 70 Caracteres.</div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="form-group" ng-class="{ 'has-error' : formCrearPersonanatural.telefono.$invalid && (formCrearPersonanatural.telefono.$touched || formCrearPersonanatural.$submitted)}">
            <label>Telefono</label>
            <input name="telefono" type="text" ng-model="view.personaNatural.telefono" ng-maxlength="20" class="form-control" placeholder="Telefono" />
            <div ng-messages="formCrearPersonanatural.telefono.$error" ng-if="formCrearPersonanatural.telefono.$touched || formCrearPersonanatural.$submitted">
                <div class="help-block" ng-message="maxlength">Maximo 20 Caracteres.</div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group" ng-class="{ 'has-error' : formCrearPersonanatural.celular.$invalid && (formCrearPersonanatural.celular.$touched || formCrearPersonanatural.$submitted)}">
            <label>Celular</label>
            <input name="celular" type="text" ng-model="view.personaNatural.celular" ng-maxlength="20" class="form-control" placeholder="Celular" />
            <div ng-messages="formCrearPersonanatural.celular.$error" ng-if="formCrearPersonanatural.celular.$touched || formCrearPersonanatural.$submitted">
                <div class="help-block" ng-message="maxlength">Maximo 20 Caracteres.</div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group" ng-class="{ 'has-error' : formCrearPersonanatural.email.$invalid && (formCrearPersonanatural.email.$touched || formCrearPersonanatural.$submitted)}">
            <label>Email</label>
            <input name="email" type="email" ng-model="view.personaNatural.email" ng-maxlength="70" class="form-control" placeholder="correo@dominio.com"/>
            <div ng-messages="formCrearPersonanatural.email.$error" ng-if="formCrearPersonanatural.email.$touched || formCrearPersonanatural.$submitted">
                <div class="help-block" ng-message="email">Email Incorrecto.</div>
                <div class="help-block" ng-message="maxlength">Maximo 70 Caracteres.</div>
            </div>
        </div>
    </div>
</div>
<button type="submit" class="btn btn-primary" ladda="control.inProcess" data-style="expand-right">Guardar</button>
<button type="button" class="btn btn-default" ng-click="cancel()">Cancelar</button>
</form>
</div>