<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="bower_components/todc-bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/todc-bootstrap/dist/css/todc-bootstrap.css">
    <link rel="stylesheet" href="styles/bootplus/css/bootplus.css">
    <link rel="stylesheet" href="styles/bootplus/css/bootplus-responsive.css">


    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>
<body ng-app="cajaApp">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<div ng-controller="MainController">
    <div class="navbar navbar-inverse navbar-fixed-top" style="min-height: 20px;">
        <div class="navbar-inner">
            <div class="container-fluid">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="#">SistCoop</a>
                <div class="nav-collapse collapse" style="display: inherit;">
                    <p class="navbar-text pull-right" style="margin-top: 0;">
                        Logged in as <a href="#" class="navbar-link">Username</a>
                    </p>
                    <ul class="nav">
                        <li class="active"><a href="#" ng-click="resetMenu()">Home</a></li>
                        <li><a href="#about" ng-click="setMenuCaja()">Caja</a></li>
                        <li><a href="#about" ng-click="setMenuTransaccion()">Transacciones</a></li>
                        <li><a href="#contact" ng-click="setMenuSocio()">Cuentas personales</a></li>
                        <li><a href="#contact" ng-click="setMenuAdministracion()">Administracion</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3">
                <div class="sidebar-nav">
                    <ul class="nav nav-list">
                        <li ng-repeat="submenu in currentSubMenu" ng-class="{'nav-header': submenu.header == true}">
                            <span ng-if="submenu.header" ng-bind="submenu.name"></span>
                            <a href="#" ng-if="!submenu.header" ng-bind="submenu.name"></a>
                        </li>
                    </ul>
                </div><!--/.well -->
            </div><!--/span-->

            <div class="span9">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="card">
                            <h2 class="card-heading simple">Crear persona natural</h2>
                            <div class="card-body">

                            </div>
                        </div>
                    </div><!--/span-->
                </div><!--/row-->
            </div><!--/span-->
        </div><!--/row-->

        <hr>

        <footer>
            <p>© Softgreen 2014</p>
        </footer>

    </div>
</div>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->

<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<![endif]-->

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/require.js" data-main="scripts/main.js"></script>
<!-- endbuild -->
</body>
</html>
