<nav class="navbar horizontal-menu"
     ng-class="{
     'navbar-fixed-top': layoutOptions.horizontalMenu.isFixed,
     'navbar-minimal': layoutOptions.horizontalMenu.minimal,
     'click-to-expand': layoutOptions.horizontalMenu.clickToExpand}">

<script type="text/ng-template" id="menu-item-link-tpl">
    <i ng-if="item.icon" class="{{item.icon}}"></i>
    <span class="title">{{item.title}}</span>
    <span ng-if="item.label" class="label label-{{item.label.classname}} pull-right" ng-class="{'hidden-collapsed': item.label.collapsedHide}">{{item.label.text}}</span>
</script>

<script type="text/ng-template" id="menu-items-tpl">
    <li ng-repeat="item in menuItems"
        ng-class="{
            'opened': item.isOpen, 'active': item.isActive, 'has-sub': item.menuItems.length,
            'hover': $index == itemSelected}"
        ng-click="setMenuSelected($index)"
        ui-sref-active="active">


        <a href ng-if="item.link" ui-sref="{{item.link}}" ng-include="'menu-item-link-tpl'"></a>
        <a href ng-if="!item.link" ng-include="'menu-item-link-tpl'"></a>
        <ul ng-if="item.menuItems.length"
            ng-init="subItems = item.menuItems"
            ng-include="'menu-items-recursive-tpl'">
        </ul>
    </li>
</script>

<script type="text/ng-template" id="menu-items-recursive-tpl">
    <li ng-repeat="item in subItems"
        ng-class="{'opened expanded': item.isOpen, 'active': item.isActive, 'has-sub': item.menuItems.length}">
        <a href="#{{item.link}}" ng-include="'menu-item-link-tpl'"></a>
        <ul ng-if="item.menuItems.length" ng-init="subItems = item.menuItems" ng-include="'menu-items-recursive-tpl'"></ul>
    </li>
</script>

<script type="text/ng-template" id="menu-items-sub-items">
    <li ng-repeat="item in subItems">
        <a href="#{{item.link}}" ng-include="'menu-item-link-tpl'"></a>
        <ul ng-if="item.menuItems.length" ng-init="subItems = item.menuItems" ng-include="'menu-items-recursive-tpl'"></ul>
    </li>
</script>

<div class="navbar-inner">

<div class="navbar-brand">
    <a href="#" class="logo">
        <img src="../../images/logo.jpg" width="140" alt="" class="hidden-xs" />
        <img src="../../images/logo.jpg" width="140" alt="" class="visible-xs" />
    </a>
    <a href="" data-toggle="settings-pane" ng-click="changeSettingsPaneIsOpen()">
        <i class="linecons-cog"></i>
    </a>
</div>

<div class="nav navbar-mobile">
    <div class="mobile-menu-toggle">
        <a href="" ng-click="changeSettingsPaneIsOpen()" data-animate="true"><i class="linecons-cog"></i></a>
        <a href="" ng-click="mobileUserInfoToggle()" data-toggle="user-info-menu-horizontal">
            <i class="fa-bell-o"></i><span class="badge badge-success">7</span>
        </a>
        <a href="" ng-click="mobileMenuToggle()" data-toggle="mobile-menu-horizontal">
            <i class="fa-bars"></i>
        </a>
    </div>
</div>

<div class="navbar-mobile-clear">
</div>


<ul class="navbar-nav" ng-class="{'mobile-is-visible': layoutOptions.horizontalMenu.isMenuOpenMobile}" ng-include="'menu-items-tpl'">
</ul>


<ul class="nav nav-userinfo navbar-right" ng-class="{'mobile-is-visible': layoutOptions.userInfoNavVisible}">

    <li class="search-form" ng-init="isFocused = false" ng-class="{focused: isFocused}">
        <form name="userinfo_search_form" ng-submit="userinfo_search_form.$valid" novalidate>
            <input type="text" name="s" class="form-control search-field" placeholder="Type to search..." ng-blur="isFocused = false;" required />
            <button type="submit" class="btn btn-link" ng-click="isFocused = ! isFocused; setFocusOnSearchField();">
                <i class="linecons-search"></i>
            </button>
        </form>
    </li>

    <li class="dropdown xs-left" ng-class="{'open': notificationsIsOpen}" ng-click="changeNotificationsIsOpen()">
        <a href="" class="notification-icon notification-icon-messages dropdown-toggle">
            <i class="fa-bell-o"></i>
            <span class="badge badge-purple">7</span>
        </a>
        <ul class="dropdown-menu notifications">
            <li class="top">
                <p class="small">
                    <a href="" class="pull-right">Marcar como leidos</a>
                    Tienes <strong>3</strong> notificaciones.
                </p>
            </li>
            <li>
                <ul class="dropdown-menu-list list-unstyled ps-scrollbar">
                    <li class="active notification-success">
                        <a href="">
                            <i class="fa-user"></i>
                            <span class="line">
                                <strong>New user registered</strong>
                            </span>
                            <span class="line small time">
                                30 seconds ago
                            </span>
                        </a>
                    </li>
                    <li class="notification-danger">
                        <a href="">
                            <i class="fa-calendar"></i>
                            <span class="line">
                                John cancelled the event
                            </span>
                            <span class="line small time">
                                9 hours ago
                            </span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="external">
                <a href="">
                    <span>Ver todas las notificaciones</span>
                    <i class="fa-link-ext"></i>
                </a>
            </li>
        </ul>
    </li>

    <li class="dropdown user-profile" ng-class="{'open': userProfileIsOpen}" ng-click="changeUserProfileIsOpen()">
        <a href="" class="dropdown-toggle" data-toggle="dropdown">
            <img src="http://themes.laborator.co/xenon/assets/images/user-4.png" alt="user-image" class="img-circle img-inline userpic-32" width="28" />
            <span>Arlind Nushi<i class="fa-angle-down"></i></span>
        </a>
        <ul class="dropdown-menu user-profile-menu list-unstyled">
            <li>
                <a href="">
                    <i class="fa-edit"></i>
                    New Post
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa-wrench"></i>
                    Settings
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa-user"></i>
                    Profile
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa-info"></i>
                    Help
                </a>
            </li>
            <li class="last">
                <a href="">
                    <i class="fa-lock"></i>
                    Logout
                </a>
            </li>
        </ul>
    </li>

</ul>

</div>

</nav>