<div class="row" ng-controller="CrearPersonaJuridicaCtrl">
    <div class="col-sm-12">
        <div>
            <div>
                <ul class="nav nav-tabs nav-tabs-google">
                    <li ui-sref-active-eq="active"><a ui-sref=".principal">Datos principales</a></li>
                    <li ui-sref-active-eq="active"><a ui-sref=".representante">Accionista</a></li>
                </ul>
            </div>
            <form name="form" ng-submit="submit()" novalidate>
                <div ui-view></div>
            </form>
        </div>
    </div>
</div>