<div class="row">
    <div class="col-sm-6">
        <div class="card" style="border-top-width: 1px;">
            <h3 class="card-heading simple">
                Datos principales
                <button type="button" class="btn btn-link" tooltip-placement="bottom" tooltip="Datos principales de la persona." tooltip-trigger="mouseenter" style="color: #999;padding: 0;float: right;">
                    <span class="glyphicon glyphicon-info-sign"></span>
                </button>
            </h3>
            <div class="card-body">
                <div style="border-bottom: 1px solid #e5e5e5; padding-bottom: 10px; margin-bottom: 20px;">
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="../../images/photo.png" alt="..." class="img-circle">
                        </div>
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p>Cod.pais:&nbsp;</p>
                                </div>
                                <div class="col-sm-9">
                                    <p><strong ng-bind="view.personaDB.codigoPais"></strong></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p>Documento:&nbsp;</p>
                                </div>
                                <div class="col-sm-9">
                                    <p>
                                        <strong ng-bind="view.personaDB.tipoDocumento"></strong>
                                        <strong ng-show="view.personaDB.tipoDocumento">/</strong>
                                        <strong ng-bind="view.personaDB.numeroDocumento"></strong>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p>Razon social:&nbsp;</p>
                                </div>
                                <div class="col-sm-9">
                                    <p><strong ng-bind="view.personaDB.razonSocial"></strong></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p>Nombre comercial:&nbsp;</p>
                                </div>
                                <div class="col-sm-9">
                                    <p><strong ng-bind="view.personaDB.nombreComercial"></strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <button type="button" ng-click="openModal()" class="btn btn-link" style="font-size: 14px;">Cambiar logo</button>
                        </div>
                    </div>
                </div>
                <div style="border-bottom: 1px solid #e5e5e5;margin-bottom: 20px;">
                    <div class="row">
                        <div class="col-sm-3">
                            <p>F.constitucion:&nbsp;</p>
                        </div>
                        <div class="col-sm-3">
                            <p><strong ng-bind="view.personaDB.fechaConstitucion | date : 'dd/MM/yyyy'"></strong></p>
                        </div>
                        <div class="col-sm-3">
                            <p>Tipo empresa:&nbsp;</p>
                        </div>
                        <div class="col-sm-3">
                            <p><strong ng-bind="view.personaDB.tipoEmpresa"></strong></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <p>Fin de lucro:&nbsp;</p>
                        </div>
                        <div class="col-sm-3">
                            <p><strong ng-bind="view.personaDB.finLucro"></strong></p>
                        </div>
                    </div>
                </div>
                <p></p>
            </div>
            <div class="card-actions">
                <button type="button" ng-click="tabs.datosPersonales=true" class="btn btn-default">Editar</button>
                <button type="button" class="btn btn-danger" style="float: right;">Eliminar</button>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card" style="border-top-width: 1px;">
            <h3 class="card-heading simple">
                Datos adicionales
                <button type="button" class="btn btn-link" tooltip-placement="bottom" tooltip="Datos adicionales de la persona." tooltip-trigger="mouseenter" style="color: #999;padding: 0;float: right;">
                    <span class="glyphicon glyphicon-info-sign"></span>
                </button>
            </h3>
            <div class="card-body">
                <div style="border-bottom: 1px solid #e5e5e5;margin-bottom: 20px;">
                    <div class="row">
                        <div class="col-sm-3">
                            <p>Ocupacion:&nbsp;</p>
                        </div>
                        <div class="col-sm-9">
                            <p>
                                <strong ng-bind="view.personaDB.ocupacion"></strong>
                            </p>
                        </div>
                    </div>
                </div>
                <div style="border-bottom: 1px solid #e5e5e5;margin-bottom: 20px;">
                    <div class="row">
                        <div class="col-sm-3">
                            <p>Direccion:&nbsp;</p>
                        </div>
                        <div class="col-sm-9">
                            <p>
                                <strong ng-bind="view.personaDB.direccion"></strong>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <p>Referencia:&nbsp;</p>
                        </div>
                        <div class="col-sm-9">
                            <p>
                                <strong ng-bind="view.personaDB.referencia"></strong>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <p>Ubigeo:&nbsp;</p>
                        </div>
                        <div class="col-sm-9">
                            <p>
                                <strong ng-bind="view.personaDB.ubigeo"></strong>
                            </p>
                        </div>
                    </div>
                </div>
                <div style="border-bottom: 1px solid #e5e5e5;margin-bottom: 20px;">
                    <div class="row">
                        <div class="col-sm-3">
                            <p>Telefono:&nbsp;</p>
                        </div>
                        <div class="col-sm-3">
                            <p>
                                <strong ng-bind="view.personaDB.telefono"></strong>
                            </p>
                        </div>
                        <div class="col-sm-3">
                            <p>Celular:&nbsp;</p>
                        </div>
                        <div class="col-sm-3">
                            <p>
                                <strong ng-bind="view.personaDB.celular"></strong>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <p>Email:&nbsp;</p>
                        </div>
                        <div class="col-sm-9">
                            <p>
                                <strong ng-bind="view.personaDB.email"></strong>
                            </p>
                        </div>
                    </div>
                </div>
                <p></p>
            </div>
            <div class="card-actions">
                <button type="button" ng-click="tabs.datosAdicionales=true" class="btn btn-default">Editar</button>
            </div>
        </div>
    </div>
</div>